[run]
source = dat2csv
omit =
    dat2csv/__main__.py
    dat2csv/cli.py
    dat2csv/gui.py

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    def main\(\):
    ^\s*\.\.\.
